.wrapper {
    font-size: 16px;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;

    &:hover {
        filter: brightness(95%);
    }

    + .wrapper {
        margin-left: 18px;
    }
}

.icon + .label,
.label + .icon {
    margin-left: 8px;
}

.rounded {
    border-color: gray;
    border-radius: 999px;
}

.primary {
    background-color: var(--primary);
    color: white;
    border-color: currentColor;

    &:hover {
        filter: brightness(95%);
        border-color: currentColor;
    }
}

.outline {
    border-color: white;
}

.text {
    &:hover {
        text-decoration: underline;
        background-color: white;
        filter: brightness(100%);
    }
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.featuredKey {
    min-width: 180px;
    min-height: 77px;
    padding: 14px 16px;
}

.num {
    margin-left: 5px;
    color: black;
    padding: 0 5px;
    background-color: var(--white);
    border-radius: 4px;
}

.buy {
    background-color: #2dc680;
    color: var(--white);
}

.search {
    width: 120px;
    height: 100%;
    border: none;
    border-radius: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    background-color: var(--notic) !important;
}
