@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #2039a3;
  --blue: #2039a3;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #be0000;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --notic: #fdd835;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  zoom: 70%;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.center {
  display: flex;
  min-width: 1200px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--primary);
}

.swiper {
  margin-left: 0 !important;
}

.prev {
  width: 40px;
  height: 248px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--light);
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.prev:hover {
  background-color: rgba(52, 58, 64, 0.2431372549);
}

.next {
  width: 40px;
  height: 248px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--light);
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.next:hover {
  background-color: rgba(52, 58, 64, 0.2431372549);
}

.prev-fs {
  width: 40px;
  height: 248px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--blue);
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.next-fs {
  width: 40px;
  height: 248px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--blue);
  cursor: pointer;
}

.prev-list {
  width: 40px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--white);
  cursor: pointer;
}

.next-list {
  width: 40px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--white);
  cursor: pointer;
}

.fs-slider:hover > .next-list {
  opacity: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=GlobalStyle.css.map */